@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.hero{
   background-image: url('/loopstudios-landing-page-main/images/desktop/image-hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 50px;

}
.nav-links ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 50px;
    
}

.nav-links ul a {
    text-decoration: none;
    color: white;
     font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}

div.cta {
    background-color: transparent;
    border: 2px solid white;
    max-width: 500px;
    padding: 50px;
    margin-bottom: 250px;
    margin-left: 50px;
    margin-top: 60px;
   
}
div.cta button {
    background-color: transparent;
    border: none;
    color: white;
    font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  margin: 0 0 20px 0;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: start;
}

.interactive { 
    display: flex; 
     margin-top: 100px;
     margin-bottom: 100px;
     margin-left: 50px; 
    } 
     
.interactive img { 
        width: 110%;
        height: auto; 
    }

        .interactive-text {
            position: absolute;
            flex-direction: column;
            justify-content: center;
            margin-left: 550px;
            background-color: white;
            margin-top: 220px;
            padding: 50px;
        }
.interactive-text h2 {    
    font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem;
  margin: 0 0 20px 0;
  line-height: 1.1;
  text-transform: uppercase;

}

.interactive-text p {
    font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.5;
  width: 500px;
  text-align: justify;
}

.creations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.creations h1 {
    font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem;
  margin: 0 0 20px 0;
  line-height: 1.1;
  text-transform: uppercase;
}

.btn-see-all {
    background-color: transparent;
    border: 2px solid black;
    padding: 15px 30px;
    font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-see-all:hover {
    background-color: black;
    color: white;
    transition: 0.3s;
}

.container-card {
      display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  margin-top: 50px;
  margin-bottom: 100px;
}
.card {
    position: relative;
    overflow: hidden;
    
}

.card img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.1);
}

.card h2 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  text-transform: uppercase;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px;

}
footer .nav-links ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 50px;
}

footer .nav-links ul a {
    text-decoration: none;
    color: white;
     font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav-links ul a:hover {
    color: yellow;
    transition: 0.3s;
    text-decoration: underline white;
}

footer .social-icons {
    display: flex;
    gap: 20px;
    
}
footer .social-icons img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    
}

.footer-bottom .copyright {
    font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
    font-size: 0.8rem;
    text-align: right;
    margin-right: 30px;
}


